

section{
    margin: 40px auto;
    max-width: 80%;
    text-align: center;
}

.cartoesConhecimento{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content:center;
    padding: 0px;
}

.cartao{
    height: auto;
    width: 300px;
    border-radius: 8px;
    background-color: var(--branco);
    margin: 1rem;
    padding: 0rem 1.1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 0px hsla(0, 0%, 0%, 0.3);
}

.cartaoImagem{
    height: 200px;
    width: 300px;
    background: rgba(0,0,0,0.1); 
       border-radius: 8px 8px 0 0;


}

.cartaoImagem img{
    max-width: 300px;
    height: 200px;
    border-radius: 8px 8px 0 0;
    object-fit: fill;
}

.cartaoTexto{
    background-color: var(--branco);
    padding: 6px 0px;
    flex-grow: 1
}

.cartaoTexto h3{
    color: var(--verde);
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: -0.02em;
}

.cartaoTexto p{
    font-size: 0.95em;
    margin: 10px 0;
    color: var(--preto);
}

.cardBotao{
font-weight: 800;
letter-spacing: 1px;
margin: 10px;
padding: 8px 16px;
font-size: 1rem;
color: var(--verde);
cursor: pointer;
transition: ease-out 0.5s;
border: 1px solid var(--verde);
border-radius: 10px;
box-shadow: inset 0 0 0 0 var(--verde);
align-self: flex-end
}

button:hover {     
  color: var(--branco);
  box-shadow: inset 0 -100px 0 0 var(--verde);
}

button:active {
  transform: scale(0.9);
}


@media screen and (max-width: 900px) {
   
    .cartao{
        margin: 0;
    }

    .cartaoTexto{
        text-align: center;
    }

}