@import url(/estilos/style.css);


header{
    box-shadow: 0px 0px 10px 0px hsla(0, 0%, 0%, 0.1);
}

nav{
    display: flex;
    align-items: center;
}

.logo img{
    margin-left: 2rem;
    width: 51px;
    height: 51px;
}






nav a{
    display: flex;
    text-decoration: none;
    color: hsla(0, 0%, 0%, 0.867);
    font: 600 1.1rem sans-serif;
    align-items: center;
}

nav img{
    width: 2rem;
    height: 2rem;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
        
nav li:hover img , .logo img:hover{
    filter: grayscale(0%);
    filter: rgb(255, 255, 255);
    -webkit-filter: grayscale(0%);
    filter: none;
    transition: 0.3s;
    }

nav li :hover{
    color: var(--verde);
    transition: 0.3s;
}

@media screen and (max-width: 850px) {

    
header ul{
    gap: 1rem;
    letter-spacing: 0px;
    padding: 1rem 0 1rem 1rem;

}

header ul img{
    display: none;
}

.logo img{
    margin-left: 1rem;
    width: 51px;
    height: 51px;
}

    
    
}