@import url(/estilos/style.css);






.textoConhecimento{
    color: var(--verde);
    padding: 2rem;
    font-size: 1.1em;
    font-weight: 600;
    letter-spacing: 0.06em;
}


.cardImagem{
    height: 500px;
    width: auto;
    align-content:center;
    
}

.cardImagem img{
    width: 90%;
    height: 90%;
    border-radius: 30px;
    object-fit: cover;
}

span{
    font-weight: 900;
}

@media screen and (max-width: 1200px) {
    
    
    .textoConhecimento{
        font-size: 1em;
        letter-spacing: 0.04em;
    }
    
   


}

